body {
    font-family: 'Red Hat Mono';
}

img {
    width: 200;
    height: 500;
    border: 8px solid;
}

.card {

    width: 200px;
    height: 500px;
    
}

.rosso {
    color: red;
}

.margini {
    border: 8px;
}